* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --primary-bg-color: #e6f0ff;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Sen;
}

/* Common */
a {
    text-decoration: none;
}

body {
    font-size: 50px;
}
