* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #5f5b53;
    --hightlight-color: #ffb900;
    --primary-bg-color: #fffcf4;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.wrapper {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 50px;
    min-width: 118px;
    background: var(--primary-color);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn-light {
    background-color: var(--hightlight-color);
}

.btn-circle {
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn-circle:hover {
    opacity: 0.9;
}

.btn-circle .icon {
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-circle .text {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.btn-circle-large .icon {
    width: 48px;
    height: 48px;
}

/* Header */

#header {
    padding-top: 30px;
    position: sticky;
    top: -30px;
    background-color: var(--primary-bg-color);
}

#header .content {
    align-items: center;
    padding: 15px 0;
}

#header .logo .text {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--primary-color);
}

#header .logo .text::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--hightlight-color);
}

#header .navbar {
    gap: 70px;
    align-items: center;
}

#header .navbar .navigation li {
    position: relative;
}

#header .navbar .navigation a {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--secondary-color);
}

#header .navbar .navigation .active a,
#header .navbar .navigation a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color);
}

#header .navbar .navigation .active a::after,
#header .navbar .navigation a:hover::after {
    content: "";
    display: block;
    width: 15px;
    height: 3px;
    position: absolute;
    border-radius: 999px;
    background-color: var(--primary-color);
    bottom: -6px;
}

#header .navbar .btn {
    min-width: 144px;
}

#header .navigation {
    gap: 42px;
}

/* Hero */
#hero {
    padding: 65px 0;
    background-color: var(--primary-bg-color);
}

.row-a > .space {
    flex: 13;
}

.row-a > .left {
    flex: 57;
}

.row-a > .right {
    flex: 47;
}

#hero .left {
    position: relative;
}

#hero .left .bg {
    width: 82.5%;
    min-height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

#hero .list {
    min-width: 270px;
    background: white;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    position: absolute;
    bottom: 48px;
    right: 0;
    padding: 28px 24px;
}

#hero .list .item {
    margin-bottom: 22px;
    display: flex;
    gap: 16px;
}

#hero .list .item:last-child {
    margin-bottom: 0;
}

#hero .list .item .ui-ux .icon {
    background-color: #fff9e8;
}

#hero .list .item .development .icon {
    background-color: #fcefff;
}

#hero .list .item .marketing .icon {
    background-color: #ebeaff;
}

#hero .list .item .sub-title {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--secondary-color);
}

#hero .list .item .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
}

#hero .right {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

#hero .right .info .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

#hero .right .info .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
    text-align: justify;
}

#hero .action {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

#hero .action .btn.btn-light {
    min-width: 180px;
}

#hero .stats .stats-text {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--secondary-color);
}

#hero .stats {
    margin-top: 48px;
}

#hero .stats .stats-list {
    margin-top: 12px;
    display: flex;
    gap: 30px;
}

#hero .stats .stats-list .stat {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#hero .stats .stats-list .stat .number {
    font-weight: 700;
    font-size: 5.4rem;
    color: var(--primary-color);
}

#hero .stats .stats-list .stat .unit {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--secondary-color);
}

/* Courses */
#courses {
    padding: 200px 0;
}

#courses .intro .text {
    max-width: 458px;
}
#courses .intro .title {
    font-weight: 700;
    font-size: 3.8rem;
    color: var(--primary-color);
}

#courses .intro .sub-title {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--secondary-color);
}

#courses .intro .action {
    display: flex;
    gap: 18px;
}

#courses .intro .action .pre .icon {
    border-color: var(--hightlight-color);
}

#courses .intro .action .next .icon {
    background-color: var(--hightlight-color);
    border-color: var(--hightlight-color);
}

#courses .list {
    margin-top: 55px;
    gap: 30px;
}

#courses .list .course {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

#courses .list .course .thumb img {
    width: 100%;
    height: 278px;
    object-fit: cover;
}

#courses .list .course .info {
    padding: 16px 22px 32px 22px;
}

#courses .list .course .row {
    align-items: center;
}

#courses .list .course .row:nth-child(1) {
    margin-top: 18px;
}

#courses .list .course .title {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
}

#courses .list .course .star span {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--hightlight-color);
}

#courses .list .course .row:nth-child(2) {
    margin-top: 8px;
}

#courses .list .course .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--secondary-color);
}

#courses .list .course .row:nth-child(3) {
    margin-top: 12px;
}

#courses .list .course .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--primary-color);
}

/* Quote */

#quote {
    padding: 96px 0;
    background-color: #2e2100;
}

#quote .info {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#quote .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

#quote .name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    color: #f7f7f7;
}

#quote .job-title {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #bfbcb3;
}

#quote .decorate {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

#quote .circle {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}

#quote .circle-light {
    background-color: var(--hightlight-color);
}

#quote .text {
    flex: 2;
}

#quote .text p {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: white;
    padding-left: 28px;
}

/* Feartures */
#features {
    padding: 200px 0;
}

#features .row-a:last-child {
    margin-top: 200px;
}

#features .demo {
    align-items: flex-end;
    gap: 30px;
    height: 438px;
}

#features .demo .picture {
    height: calc(100% - 34px);
}

#features .demo .picture:last-child {
    align-self: flex-start;
}

#features .demo .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

#features .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#features .info .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

#features .info .desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

#features .info .action {
    margin-top: 32px;
}
